site_name: MCP-Scan Documentation

hooks:
# custom transform hooks for guardrails and traces
- mkdocs_config.py

site_url: https://invariantlabs-ai.github.io/docs/

theme:
  name: material
  custom_dir: docs/overrides
  logo: assets/logo.svg
  features:
    - content.code.copy
    - navigation.sections
    - content.tooltips
extra_css:
  - assets/invariant.css
use_directory_urls: false

extra:
  # extra navigation icons for navigation groups that do not have their own pages
  # for pages, just specify icon in the frontmatter
  nav_item_icons: []

markdown_extensions:
  - admonition
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - meta
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - docs/overrides/.icons

use_directory_urls: true

plugins:
  - search

nav:
  - Overview: mcp-scan/index.md
  - Scanning: mcp-scan/scanning.md
  - Proxying: mcp-scan/proxying.md
  - Guardrails: mcp-scan/guardrails.md
  - Issue Codes: mcp-scan/issue-code-reference.md
  - Advanced Guardrails: mcp-scan/guardrails-reference.md
